/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'helvetica';
}

a {
  text-decoration: none;
  color:grey;
}

a:hover{
  color:black;
}

li {
  display:inline-block;
  background-color: #318CE7;
  text-align: center;
  color:white;
  font-family: 'Courier';
  width : 40px;
  height: 40px;
  padding:5px;
  margin:5px;
  font-size : 35px;
  box-shadow: 4px 4px 6px 0px rgba(119, 119, 119, 0.4);
}

.button {
color: #494949;
text-transform: uppercase;
text-decoration: none;
background: #ffffff;
padding: 10px;
border: 4px solid #494949;
display: inline-block;
transition: all 0.4s ease 0s;
}

.button:hover {
color: #ffffff;
background: #318CE7;
border-color: #318CE7;
transition: all 0.4s ease 0s;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


